<ion-view title="Sobre" id="page5">
    <ion-content padding="true" class="has-header bg-padrao">
        <img class="full-image space-bottom" src="img/logo-amigo-secreto.png">
        <h4 style="color:#f1847e;">O APP de amigo secreto da Lu.</h4>
        <p style="font-size:16px;text-align:justify;margin:20px 0 20px 0;">
            Aqui no Amigo Secreto da Lu você se diverte com seus amigos em uma brincadeira que é feita por todas as idades, seja com os familiares, com os amigos, com os colegas de trabalho, é quase que uma tradição. 
            Com o APP você tem a facilidade de estar em comunicação com o grupo a qualquer momento, aqui você monta seu grupo, realiza o sorteio dos integrantes automaticamente e somente você saberá quem é seu amigo secreto do grupo escolhido.
            Você pode ter mais de um grupo, enviar mensagens direto para seu amigo secreto de forma anônima, pode enviar também
            mensagens para o grupo todo, de forma anônima também ou não.
            Com a praticidade e facilidade que o Magazine Luiza te proporciona, seu grupo cria a lista de presentes desejados direto
            do nosso catálogo, monte de forma que desejar, edite, acrescente produtos a qualquer momento e os integrantes do grupo 
            estarão visualizando em tempo real.
            Escolha a data para a entrega dos produtos, enviaremos os produtos diretamente a um endereço escolhido pelo criador do grupo,
            assim você simplifica a brincadeira, facilita pois receberá tudo em um lugar só, já embrulhado para presente e com o nome do 
            presenteado. 
            Convide amigos para participar !
            <br>Simples assim!
            <br><br>Aproveite todas as funcionalidades
            para deixar esse momento ainda mais especial!
        </p>
        <img style="text-align:center" src="img/lu-mobile.png" />
    </ion-content>
</ion-view>