<ion-view title="Grupos" id="page9">
  <ion-content padding="true" class="has-header">
    <form id="grupos-form5" class="list">
      <label class="item item-input" id="grupos-textarea1" name="txtGrupo">
        <span class="input-label"></span><textarea placeholder="Nome do Grupo"></textarea></label>
    </form>
    <button id="grupos-button4" class="button button-positive  button-block">Criar Grupo</button>
    <ion-list id="grupos-list13">
      <ion-item class="item-thumbnail-left positive" id="grupos-list-item25">
        <h2positive>Item
          <ion-option-button class="button-royal">Participantes</ion-option-button>
          <ion-option-button class="button-assertive">Excluir</ion-option-button>
        </h2positive>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>