<ion-view title="Login" id="page10">
  <ion-content padding="true" class="has-header">
    <form id="login-form3" class="list">
      <ion-list id="login-list9">
        <label class="item item-input" id="login-input6">
          <span class="input-label">Username</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="login-input7">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="menu.perfil" id="login-button1" class="button button-positive  button-block">Entrar</a>
      <a ui-sref="cadastreSe" id="login-button2" style="border-radius:0px 0px 0px 0px;" class="button button-royal button-small button-block">Cadastre-se</a>
    </form>
  </ion-content>
</ion-view>