<ion-view title="Membros" id="page12">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-arrow-back"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="membros-list11">
      <ion-item class="range range-positive" id="membros-range3">Valor Mínimo
        <input type="range" value="0" min="0" max="5000" step="10">
      </ion-item>
      <ion-item class="range range-positive" id="membros-range2">Valor Máximo
        <input type="range" value="5000" min="0" max="5000" step="10">
      </ion-item>
    </ion-list>
    <button id="membros-button6" class="button button-positive  button-block">Convidar Amigos</button>
    <ion-list id="membros-list12">
      <label class="item item-input item-stacked-label" id="membros-input13">
        <input type="text" placeholder="Digite os celulares com ddd separados por vírgula">
      </label>
      <ion-item class="item-avatar item-icon-right" id="membros-list-item12">
        <h2>Item</h2>
        <i class="icon ion-email"></i>
        <ion-option-button class="button-assertive">Remover</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>