<ion-view title="Perfil" id="page1" style="background-color:#3DA8DF;">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <form id="perfil-form1" class="list">
      <label class="item item-input" id="perfil-input1">
        <span class="input-label">txtNome</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="perfil-input2">
        <span class="input-label">txtDtCadastro</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="perfil-input3">
        <span class="input-label">txtEmail</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="perfil-input4">
        <span class="input-label">txtCelular</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="perfil-input5">
        <span class="input-label">txtQtdGrupos</span>
        <input type="text" placeholder="">
      </label>
    </form>
  </ion-content>
</ion-view>