<ion-view title="Lista de Presentes" id="page13">
  <ion-content padding="true" class="has-header">
    <div id="listaDePresentes-button-bar1" class="button-bar">
      <button id="listaDePresentes-button10" class="button button-positive  button-block" ng-show="nomegrp1 != ''" ng-click="buscarLista(idgrp1)">{{nomegrp1}}</button>
      <button id="listaDePresentes-button11" class="button button-positive  button-block" ng-show="nomegrp2 != ''" ng-click="buscarLista(idgrp2)">{{nomegrp2}}</button>
      <button id="listaDePresentes-button12" class="button button-positive  button-block" ng-show="nomegrp3 != ''" ng-click="buscarLista(idgrp3)">{{nomegrp3}}</button>
    </div>
    <ion-list id="listaDePresentes-list17" ng-repeat="prod in vm.produtos">
      <ion-item id="listaDePresentes-list-item21">{{prod.produto}}
        <ion-option-button class="button-assertive">Excluir</ion-option-button>
      </ion-item>      
    </ion-list>
  </ion-content>
</ion-view>