<ion-view title="Produtos" id="page14">
  <ion-content padding="true" class="has-header">
    <form id="produtos-form6" class="list">
      <label class="item item-input" id="produtos-textarea2" name="txtPesquisa">
        <span class="input-label"></span><input type="text" ng-model="pesquisa"></label>
    </form>
    <button id="produtos-button5" class="button button-positive  button-block" ng-click="buscar(pesquisa)">Buscar</button>
    <ion-list id="produtos-list14" ng-repeat="prod in vm.produtos">
      <ion-item class="item-thumbnail-left item-icon-right positive" id="produtos-list-item26">
        <img src="{{prod.full_image}}">
        <h2positive><a href="{{prod.url}}">{{prod.title}}</a>
          <i class="icon ion-ios-information-outline"></i>          
          <ion-option-button class="button-positive" ng-click="exibeGrp(prod.sku)">Eu Quero</ion-option-button>          
        </h2positive>
        R$ {{prod.price}}        
      </ion-item>
      <ion-list id="grupos-list14" ng-repeat="grp in vm.grupos" ng-show="prod.mostrarGrp">
          <ion-item class="item-thumbnail-left item-icon-right positive" id="grupos-list-item26">
            <h2>Grupo: {{grp.nome}}
              <ion-option-button class="button-positive" ng-click="addItem(grp.nome, grp.idgrupo, prod.sku, prod.title, prod.full_image)">Add</ion-option-button>          
            </h2positive>
          </ion-item>
        </ion-list> 
    </ion-list>
  </ion-content>
</ion-view>