<ion-view title="Cadastre-se" id="page11">
  <ion-content padding="true" class="has-header">
    <form id="cadastreSe-form4" class="list">
      <ion-list id="cadastreSe-list10">
        <label class="item item-input item-stacked-label" id="cadastreSe-input8" name="txtNome">
          <span class="input-label">Email</span>
          <input type="text" placeholder="Email">
        </label>
        <label class="item item-input item-stacked-label" id="cadastreSe-input10" name="txtPassword">
          <span class="input-label">Password</span>
          <input type="text" placeholder="***">
        </label>
        <label class="item item-input item-stacked-label" id="cadastreSe-input9" name="txtNome">
          <span class="input-label">Nome</span>
          <input type="text" placeholder="Nome">
        </label>
        <label class="item item-input item-stacked-label" id="cadastreSe-input11" name="txtCelular">
          <span class="input-label">Celular</span>
          <input type="text" placeholder="(xx) xxxxx-xxxx">
        </label>
      </ion-list>
      <div style="margin-right:-20px;">
        <button id="cadastreSe-button3" style="left:-10px;font-weight:500;color:#FFFFFF;font-size:18px;" class="button button-positive button-large button-full">Cadastrar</button>
      </div>
    </form>
  </ion-content>
</ion-view>