<ion-view title="Lista de Presentes" id="page13">
  <ion-content padding="true" class="has-header">
    <div id="listaDePresentes-button-bar1" class="button-bar">
      <button id="listaDePresentes-button10" class="button button-positive  button-block">Grupo 1</button>
      <button id="listaDePresentes-button11" class="button button-positive  button-block">Grupo 2</button>
      <button id="listaDePresentes-button12" class="button button-positive  button-block">Grupo 3</button>
    </div>
    <ion-list id="listaDePresentes-list17">
      <ion-item id="listaDePresentes-list-item21">Item 1
        <ion-option-button class="button-assertive">Excluir</ion-option-button>
      </ion-item>
      <ion-item id="listaDePresentes-list-item22">Item 2
        <ion-option-button class="button-assertive">Exclusive</ion-option-button>
      </ion-item>
      <ion-item id="listaDePresentes-list-item23">Item 3
        <ion-option-button class="button-assertive">Excluir</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>