<ion-view title="Mensagens" id="page8">
  <ion-content padding="true" class="has-header">
    <ion-list id="mensagens-list3">
      <ion-item class="item-thumbnail-left positive" id="mensagens-list-item9">
        <h2positive>Item
          <ion-option-button class="button-calm">Ver</ion-option-button>
          <ion-option-button class="button-assertive">Excluir</ion-option-button>
        </h2positive>
      </ion-item>
    </ion-list>
    <ion-list id="mensagens-list8">
      <ion-item id="mensagens-list-item16">Item 1</ion-item>
      <ion-item id="mensagens-list-item17">Item 2</ion-item>
      <ion-item id="mensagens-list-item18">Item 3</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 184px;"></div>
    <form id="mensagens-form7" class="list">
      <label class="item item-input" id="mensagens-input12" name="txtMsg">
        <input type="text" placeholder="">
      </label>
    </form>
  </ion-content>
</ion-view>