<ion-view title="Produtos" id="page14">
  <ion-content padding="true" class="has-header">
    <form id="produtos-form6" class="list">
      <label class="item item-input" id="produtos-textarea2" name="txtPesquisa">
        <span class="input-label"></span><textarea placeholder=""></textarea></label>
    </form>
    <button id="produtos-button5" class="button button-positive  button-block">Buscar</button>
    <ion-list id="produtos-list14">
      <ion-item class="item-thumbnail-left item-icon-right positive" id="produtos-list-item26">
        <h2positive>Item
          <i class="icon ion-ios-information-outline"></i>
          <ion-option-button class="button-positive">Eu Quero</ion-option-button>
        </h2positive>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>