<ion-view title="Listas" id="page9">
  <ion-content padding="true" class="has-header">
    <form id="grupos-form5" class="list">
      <label class="item item-input" id="listas-textarea1" name="txtGrupo">
        <span class="input-label"></span><input type="text" ng-model="nomeLista" placeholder="Nome da Lista"></label>
    </form>
    <button id="listas-button4" ng-click="criarLista(nomeLista)" class="button button-positive  button-block" ng-show="nomeLista!=''">Criar Lista</button>
    <ion-list id="listas-list13">
      <ion-item class="item-thumbnail-left positive" ng-repeat="lista in vm.listas" id="grupos-list-item25">
        <h2positive>{{lista.nome}}
          <ion-option-button class="button-royal" ng-click="getMembros(grupo.idgrupo)">Participantes</ion-option-button>
          <ion-option-button class="button-assertive" ng-click="delGrupo(grupo.idgrupo, grupo.nome)">Excluir</ion-option-button>
        </h2positive>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>